<h2>{{user.first_name}} {{user.last_name}} [{{user.id}}]</h2>
<ul class="list-group">
    <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
    <li class="list-group-item"><strong>Phone: </strong>{{user.phone}}</li>
</ul>
<a href="/" class="btn btn-dark mt-3">Back</a>